html {
  background-color:;
  padding:0; margin:0;
}
.is-hide,
.nothing,
.none {
  display:none;
  transition:.5s all;
}
#org .label {
  font-family:'Great Vibes', cursive;
}
#org .status .label,
.reset-button, button,
.list {
  font-family: "SimSong", "MS Mincho", selif;
  font-stretch: condensed;
  font-variant: common-ligatures tabular-nums;
  letter-spacing: -0.1vw;
}

#bio b,
#march b,
#march h3
{font-family: 'Lucida Console', Courier, monospace;}


#cover h1 {
  font-size:10vh;
  letter-spacing:4.5vw;
  font-weight:500;
  font-family:'Great Vibes', cursive;
  text-align:center;
  position:absolute;
  width:100%;
  margin:0; padding:0;
  top: 60%; left: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  pointer-events:none;
  transition:1s all;
}
#cover h1 span {
  display:block;
  transform:scale(1,10);
}
ul {padding:0; margin:0;}
li {list-style: none;}
#info {
  position:fixed;
  z-index:100;
  top:0; left:0;
  overflow:hidden;
  margin:0;
  width:100%;
  font-size:1rem;
  height:1.25rem;
  transition:2.5s all;
}
#info:hover {
  height:100vh;
  overflow:auto;
  cursor:help;
  transition:5s all;
  background-color:rgba(255,255,255,0.75);
}
#org {
  position:relative;
  z-index:100;
  margin:0;
  padding:4.5rem 2.5vw 2.5rem;
}
#org ul {
  position:relative;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}
#org .label {
  display:inline-block;
  background-color:#fff;
  text-shadow:0.1vw 0.1vw #fff;
  margin:1rem;
  font-size:2.5rem;
  color:#000;
  border-radius:0.5rem;
  transition:1s all;
}
#org .label:hover {
  cursor:pointer;
  transition:.5s all;
}
#org .language .label {
  margin-bottom:1rem;
  padding:0.25rem 1rem 0;
  transform: scale(0.75,2);
}
#org .status .label {
  font-size: 1.5rem;
  padding:0.5rem 0.75rem;
  border:0.125rem solid #eee;
}
#org .language .label:hover {
  color:#fff;
  background-color:#FF5733;
  text-shadow:0.25vw 0.25vw #000;
}
#org .status .label:hover {
  color:#fff;
  background-color:#eee;
  text-shadow:0.25vw 0.25vw #000;
}
#org input[type="radio"] {
  display: none;
}
#org input[type="radio"]:checked + label {
  color:#fff;
  background-color:#eee;
  text-shadow:0.1rem 0.1rem #000;
}
.reset-button, button {
  position:relative;
  z-index:1;
  display:block;
  font-size:1.5rem;
  text-align:center;
  padding:0.5rem 0;
  margin:0.5rem auto;
  background: #fff;
  cursor: pointer;
  border:1px solid #000;
  border-radius:1vw;
  width:85%;
  transition:1s all;
}
.reset-button:hover,
button:hover {
  color:#fff;
  background:#eee;
  text-shadow:0.1rem 0.1rem #000;
  transition:.5s all;
}

#index {
  display:block;
  padding:0;
  margin:0;
  width:100%;
  height:95vh;
  margin-top:5vh;
}
#index iframe {border:none;}

.list {
  display:-webkit-flex;
  display:flex;
  justify-content: space-evenly;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-align-items:center;
  align-items:center;
  -webkit-align-items:flex-start;
  align-items:flex-start;
  margin:0 0 2.5rem;
  padding:0 01rem;
  list-style-type:none;
}
.list li {
  text-transform:capitalize;
  font-size:1.5rem;
  color:#000;
  background-color:rgba(255,255,255,0.95);
  padding:0.5rem 1rem;
  margin:0.5rem 1rem;
  border:1px solid #000;
  border-radius:0.5rem;
  text-align:center;
  box-shadow:2px 2px transparent;
  transition:1s all;
}
.list li:hover {
  cursor:pointer;
  background-color:rgba(255,255,255,1);
  box-shadow:5px 5px #000;
  transition:.5s all;
}

.list .text {
  display:block;
  color:#000;
  width:85vw;
  max-width:450px;
  font-size:75%;
  padding:1rem 0;
  text-align: left;
}
.list #profile {
  white-space:pre-wrap;
}
.list .buy {
  clear:both;
  position:relative;
  z-index:10;
  font-size:1.25rem;
  margin:2rem 0 0;
  text-align:center;
}
.list .buy a {
  padding:0.25rem 2rem;
  color:#000;
  box-shadow:5px 5px #000;
  text-decoration:none;
  transition:1s all;
}
.list .buy a:hover {
  color:#fff;
  background-color:#FF5733;
  box-shadow:5px 5px #000;
  transition:0.5s all;
}
#me {
  position:fixed;
  z-index:1;
  bottom:2.5vw; right:1.25vw;
}
#me a {
  font-size:5vw;
  color:black;
  text-decoration:none;
  border-bottom:2px solid red;
  padding:1.25vw 2.5vw;
}
#me a:hover {
  color:#fff;
  background-color:red;
}
#march {
  position:relative;
  z-index:100;
  display:block;
  width:95%;
  margin:2.5rem auto 1rem;
  font-size:1rem;
}
#march a {
  color:#000;
  text-decoration:none;
  padding:0.25rem 0;
  margin-right:1rem;
  border-bottom: 0.2rem dotted #000;
}
#march b {
  background:#000;
  color:#fff;
  font-weight:500;
  padding:0.5rem 1rem;
  margin-right:1rem;
}
#march h3 {
  text-align:center;
  margin-bottom:5rem;
}
#march h3 a {
  text-decoration: none;
  padding:0.5rem 1rem;
}
#march a:hover,
#march h3 a {
  color: #fff;
  background-color: #FF5733;
}
#march h3 a:hover {
  color: #FF5733;
  background-color: #fff;
}


@media screen and (max-width: 750px){
  #cover h1 {
    font-size:17vw;
    letter-spacing:0;
  }
}
