#menu {
  position:fixed;
  bottom:0; left:0;
  z-index: 500;
  width:100%;
  height:5vh;
}
#inside {
  position:absolute;
  top:50%; left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}
#header {
  width:95%;
  padding:0.5% 2.5%;
  font-size:2vh;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
#mobile_open {
  position:fixed;
  bottom:0; right:0;
  padding:0.5% 2.5%;
  font-size:2vh;
  z-index: 500;
  display:none;
}
#inside {display:none;}

.tab {
  text-decoration:none;
  color:#000;
}
.tab:hover,
.check b,
#mobile_open a:hover,
#mobile_open b {
  color:blue;
}
#mobile_open a:hover {cursor:pointer;}
.check {
  float:left;
  opacity:1;
  display:inline-block;
  width:1.5rem;
  margin-right:1rem;
  text-align:center;
}
#inside .check,
#mobile_open .check {
  margin-right:7.5vw;
}
#header .check:before,
#inside .check:before,
#mobile_open .check:before {
	content:'[';
  opacity:1;
}
#header .check:after,
#inside .check:after,
#mobile_open .check:after {
	content:']';
  opacity:1;
}
#profile_o b,
#up_o b,
#show_o b,
#compilation_o b,
#mobile_o b {
  opacity: 0;
}
#profile:hover + #profile_o b,
#up:hover + #up_o b,
#show:hover + #show_o b,
#compilation:hover + #compilation_o b,
#mobile_open a:hover + #mobile_o b {
  opacity: 1;
}

#mobile_menu {
  z-index:200;
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  font-family:YuGothic,"Yu Gothic";
}

@media screen and (max-width: 750px){
  #header :not(#top) {
    display:none;
  }
  #inside {
    display:block;
    font-size:7.5vw;
    background-color:rgba(255,255,255,0.5);
    padding:7.5vh 7.5%;
    width:65%;
    overflow-y:auto;
  }
  #mobile_open {display:block;}
}
