body{margin:0; padding:0;}
.library {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.library>* {
  display: inline-block;
}
.library li{
  width:35rem;
  max-width:90vw;
  height: 94vh;
  overflow:auto;
  position:relative;
}
.library::-webkit-scrollbar,
.library li::-webkit-scrollbar {
    width: 2rem;
    height: 5vh;
    background: #fff;
}
.library::-webkit-scrollbar-track,
.library li::-webkit-scrollbar-track {
}
.library::-webkit-scrollbar-thumb,
.library li::-webkit-scrollbar-thumb  {
    background: #1C9BF0;
}
